- title "Change Password"
= breadcrumbs
= simple_form_for(resource, :as => resource_name, :url => users_update_password_path, :html => { :method => :put }) do |f|
  = render "shared/error_messages", :target => @user
  = f.input :current_password, :label => "Current password:", :hint => "We need your current password for confirmation", :required => true
  = f.input :password, :label => "New password:", :required => true
  = f.input :password_confirmation, :label => "Confirm new password:",
  :hint => "Password must be between 6-20 characters long and contain at least one uppercase letter, one lowercase letter, one digit and one symbol.", :required => true
  .form-actions
    = link_to "<i class='icon-arrow-left'></i> Cancel".html_safe, user_path(current_user), :class => "btn"
    = f.submit "Update", :class => "btn btn-inverse"
