%h2 Edit Account Details
= simple_form_for(resource, :as => resource_name, :url => users_update_path, :html => { :method => :put }) do |f|
  = render "shared/error_messages", :target => @user
  = render :partial => 'personal_details', :locals => {:f => f}
  .form-actions
    = link_to "<i class='icon-arrow-left'></i> Cancel".html_safe, user_path(current_user), :class => "btn"
    = f.submit "Update", :class => "btn btn-inverse"
