%h2 Change Password
= simple_form_for(resource, :as => resource_name, :url => users_update_password_path, :html => { :method => :put }) do |f|
  = render "shared/error_messages", :target => @user
  = f.input :current_password, :hint => "We need your current password for confirmation", :required => true
  = f.input :password, :label => "New password:", :required => true
  = f.input :password_confirmation, :label => "Confirm new password:", :required => true
  .form-actions
    = f.submit "Update", :class => "btn btn-primary"
    = link_to 'Cancel', users_profile_path, :class => "btn"
