- title 'Module Files'
= breadcrumbs
= simple_form_for @project_module, :url => batch_upload_file_path, :method => "post", :multipart => true do |f|
  .well
    %h3 Batch Upload
    .btn-group
      = f.label :file, 'File format (tar.gz)'
      = f.file_field :file
      .clear
      = f.submit "Upload", :class => "btn btn-inverse", confirm: "Uploading a batch archive will overwrite files if any exist. Are you sure you want to upload?"
- if @dir.nil? or @dir.empty?
  ='No files found'
- else
  .file-manager= render :partial => 'dir_list', :locals => { dir: @dir }
#loading.hidden.indicator
  = image_tag 'loading.gif'
  %p
    %span Uploading file
