- title "Select Role For #{@user.email}"
= breadcrumbs
= simple_form_for(@user, :url => approve_user_path(@user)) do |f|
  = render "shared/error_messages", :target => @user
  .field
    = f.input :role, :collection => @roles
  .form-actions
    = f.submit "Approve", :class => 'btn btn-inverse'
    = link_to "<i class='icon-arrow-left'></i> Back".html_safe, access_requests_users_path, :class => "btn"
