- title 'Listing Users'
= breadcrumbs
- if current_user.admin?
  .well
    %h3 User Actions
    .btn-group
      = link_to "Add User", new_user_path, :class => 'btn btn-inverse'
%table#users.table.table-bordered.table-striped.table-condensed
  %tr
    %th First name
    %th Last name
    %th Email
    %th Role
    %th Last signed in
    %th Actions
  - @users.each do |user|
    %tr{:class => cycle('field_bg', 'field_nobg')}
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.role.name if user.role
      %td
        - if user.last_sign_in_at.nil?
          Never logged in
        - else
          = user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
      %td
        = link_to "View Details", user, :id => "view_#{user.id}"
        - if can?(:update_role, User)
          = link_to 'Edit role', edit_role_user_path(user), :id => "edit_role_#{user.id}"
        - if can?(:destroy, User) and current_user.id != user.id
          = link_to 'Delete', user, :id => "delete_#{user.id}", :method => :delete, :confirm => "Are you sure you want to delete user #{user.first_name} #{user.last_name}?"