- title 'User Details'
= breadcrumbs
#userdetails
  %table.table.table-bordered.table-striped.table-condensed
    %tr
      %th First name
      %td= @user.first_name
    %tr
      %th Last name
      %td= @user.last_name
    %tr
      %th Email
      %td= @user.email
    %tr
      %th Role
      %td= @user.role ? @user.role.name : ""
    %tr
      %th Last signed in
      %td= @user.last_sign_in_at ? @user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p") : "Never logged in"
= link_to "<i class='icon-arrow-left'></i> Back".html_safe, users_path, :class => "btn"
- if @user.id != current_user.id and can?(:edit_user, @user)
  = link_to 'Edit Details', edit_details_user_path(@user), :class => 'btn btn-inverse'
  = link_to 'Change Password', change_password_user_path(@user), :class => 'btn btn-inverse'
- if can?(:edit_user, @user)
  = link_to 'Edit Role', edit_role_user_path(@user), :class => 'btn btn-inverse'