- title 'User Details'
#userdetails
  %table.table.table-bordered.table-striped.table-condensed
    %tr
      %th First name
      %td= @user.first_name
    %tr
      %th Last name
      %td= @user.last_name
    %tr
      %th Email
      %td= @user.email
    %tr
      %th Role
      %td= @user.role ? @user.role.name : ""
    %tr
      %th Last signed in
      %td= @user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
- if can?(:update_role, User)
  = link_to 'Edit Role', edit_role_user_path(current_user), :class => "btn"
= link_to 'Back', users_path, :class => "btn"