- title @project_module.name + " - Compare Relationship Records"
= breadcrumbs
-compare_relationships(@first_rel_id, @second_rel_id, @timestamps[0],@timestamps[1], @project_module)
.content
  %form#select-form
    %table.table.table-fluid.select-table
      %tr
        %td
          %div.record-info
            %h3
              Relationship
              %small
                = @firstInfo
            %input{:type=> 'button', :id => 'select-first', :value => 'Select All', :class => 'btn'}
        %td
          %div.record-info
            %h3
              Entity
              %small
                = @secondInfo
            %input{:type=> 'button', :id => 'select-second', :value => 'Select All', :class => 'btn'}
      %tr.merge-row
        %td.first.selected.span6.merge-left
          %input{:type => 'radio', :name => 'rel_id', :value => @first_rel_id, :checked => 'checked'}
          %input{:type => 'hidden', :name => 'deleted_id', :value => @second_rel_id}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          = @identifiers[0]
        %td.second.span6.merge-right
          %input{:type => 'radio', :name => 'rel_id', :value => @second_rel_id}
          %input{:type => 'hidden', :name => 'deleted_id', :value => @first_rel_id}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          = @identifiers[1]
      %tr
        %td
          %h4 Attributes
        %td
          %h4 Attributes
      - @attributeKeys.each do |key,val|
        - classes = "merge-row " + (val ? '' : 'box-error')
        %tr{class:classes}
          %td.first.selected.span6.merge-left
            = render :partial => 'compare_reln_row', :locals => { group: @firstAttributeGroup, key: key, val: val, checked: true, attributeInfo: @first_attributeInfos, value: @firstAttributeValueGroup }
          %td.second.span6.merge-right
            = render :partial => 'compare_reln_row', :locals => { group: @secondAttributeGroup, key: key, val: val, checked: false, attributeInfo: @second_attributeInfos, value: @secondAttributeValueGroup }
    .form-actions
      - if session[:type]
        = link_to "<i class='icon-arrow-left'></i> Back".html_safe, list_typed_rel_records_path(@project_module)+"?type="+session[:type]+"&offset=0", :class => 'btn'
      - else
        = link_to "<i class='icon-arrow-left'></i> Back".html_safe, show_rel_records_path(@project_module)+"?query="+session[:query]+"&offset=0", :class => 'btn'
      = link_to "Merge", merge_rel_path(@project_module), :id => 'merge-record', :class => 'btn btn-inverse'

#loading.hidden.indicator
  = image_tag "loading.gif"
  %p
    %span Merging Relationships