-title 'Edit Module'
= breadcrumbs
.container
  = simple_form_for @project_module, :url => update_project_module_path, :class =>"span12", :method => "post" do|f|
    .row-fluid
      .settings.span6
        .step
          .step-body.span12
            %h4 Static Data
            = f.label :name, "Module Name:"
            = f.text_field :name, :value => @name, :class => "input-block-level"
            = f.error :name
            %p
            = f.label :srid, 'Module SRID:'
            = f.select :srid, @spatial_list, :selected => @srid, :class => "input-block-level"
            %p
            = f.label :season, "Module Year:"
            = f.text_field :season, :value => @season, :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :description, "Project Description:"
            = f.text_area :description, :size => "40x5", :class => 'project_module-textarea input-block-level', :value => @description, :placeholder => "instruction here..."
            %p
            = f.label :permit_no, "Permit No:"
            = f.text_field :permit_no, :value => @permit_no, :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :permit_holder, "Permit Holder:"
            = f.text_area :permit_holder, :size => "40x5", :class => 'project_module-textarea input-block-level', :value => @permit_holder, :placeholder => "instruction here..."
            %p
            = f.label :permit_issued_by, 'Permit Issued by:'
            = f.text_field :permit_issued_by, :value => @permit_issued_by, :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :permit_type, 'Permit Type:'
            = f.text_field :permit_type, :value => @permit_type, :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :contact_address, "Contact and Address:"
            = f.text_area :contact_address, :size => "40x5", :class => 'project_module-textarea input-block-level', :value => @contact_address, :placeholder => "instruction here..."
            %p
            = f.label :participant, "Participants:"
            = f.text_area :participant, :size => "40x5", :class => 'project_module-textarea input-block-level', :value => @participant, :placeholder => "instruction here..."
            %p
            = f.label :copyright_holder, 'Copyright Holder:'
            = f.text_field :copyright_holder, :value => @copyright_holder, :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :client_sponsor, 'Client/Sponsor:'
            = f.text_field :client_sponsor, :value => @client_sponsor, :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :land_owner, 'Land Owner:'
            = f.text_field :land_owner, :value => @land_owner, :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.input :has_sensitive_data, :checked => @has_sensitive_data, :as => :radio_buttons, :label => 'Will this Module contain sensitive data?'
      .upload.span6
        .well
          %h4 Upload User Interface Schema
          = f.hidden_field :tmpdir, :value => @tmpdir
          - if session[:ui_schema]
            %span.uploaded-inline UI Schema Uploaded!
          - else
            = f.label :ui_schema, 'UI Schema:'
            = f.file_field :ui_schema
            = f.error :ui_schema
        .well
          %h4 Upload Validation Schema
          - if session[:validation_schema]
            %span.uploaded-inline Validation Schema Uploaded!
          - else
            = f.label :validation_schema, 'Validation Schema:'
            = f.file_field :validation_schema
            = f.error :validation_schema
        .well
          %h4 Upload User Interface Logic
          - if session[:ui_logic]
            %span.uploaded-inline UI Logic Uploaded!
          - else
            = f.label :ui_logic, 'UI Logic:'
            = f.file_field :ui_logic
            = f.error :ui_logic
        .well
          %h4 Upload Arch16n file
          - if session[:arch16n]
            %span.uploaded-inline Arch16n Uploaded!
          - else
            = f.label :arch16n, 'Arch16n:'
            = f.file_field :arch16n
            = f.error :arch16n
        .well
          %h4 Upload CSS file
          - if session[:css_style]
            %span.uploaded-inline CSS Uploaded!
          - else
            = f.label :css_style, 'CSS:'
            = f.file_field :css_style
            = f.error :css_style
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, project_module_path(@project_module), :class => 'btn'
      = f.submit "Update", :class => "btn btn-inverse", :id => "update-project-module-setting-btn"