- title "Modules"
= breadcrumbs
.well
  = link_to "<i class='icon-pencil icon-white'></i> Create Module".html_safe, new_project_module_path, :class => "btn btn-inverse"
  = link_to "<i class='icon-upload'></i> Upload Module".html_safe, upload_project_module_path, :class => "btn"
.clear
- if @project_modules
  %table.table
    %tr
      %th No.
      %th Name
      %th Created
    - index = 0
    - for project_module in @project_modules
      - index = index + 1
      %tr
        %td
          = index.to_s + "."
        %td
          %a.project_module{href:project_module_path(project_module)}
            = project_module.name
        %td
          = project_module.created_at.localtime.strftime("%d/%m/%Y %I:%M%p")
