- title "Deleted Modules"
= breadcrumbs
.clear
- if @project_modules
  %table.table#project-modules
    %tr
      %th No.
      %th Name
      %th Created
      %th
    - index = 0
    - for project_module in @project_modules
      - index = index + 1
      %tr
        %td
          = index.to_s + "."
        %td.project-name
          = project_module.name
        %td
          = project_module.created_at.localtime.strftime("%d/%m/%Y %I:%M%p")
        %td.restore-btn
          = button_to "Restore", { action: :restore_project_module, controller: :project_modules, restore_id: project_module.id }, method: :post, class: 'btn'
