- title @project_module.name + " - Archaeological Entity Relationship Associations"
= breadcrumbs
.content
  - if !@relationships.nil? and !@relationships.empty?
    .records
      %ul.inner
        - for relationships in @relationships
          %li
            %form.pull-left{:action => remove_rel_association_path(@project_module), :method => "post"}
              %input{ type: :hidden, name: :authenticity_token, value: session[:authenticity_token]}
              %input{ type: :hidden, name: :relationshipid, value: relationships[0]}
              %input{ type: :hidden, name: :uuid, value: session[:uuid]}
              .remove-member= link_to "<i class='ui-icon ui-icon-circle-minus'></i>".html_safe
            %a{:href => edit_rel_records_path(@project_module,relationships[0])}
              =relationships[1].to_s
          .clear
      .paging.search
        = render :partial => 'shared/pagination'
    %input{:type => 'button',:id => 'search-member', :value=> 'Add Member', :class => 'add-member btn', :src=> search_rel_association_path(@project_module,session[:uuid])}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_arch_ent_records_path(@project_module,session[:uuid]), :class => 'btn'
  -else
    %p No Members Found
    %input{:type => 'button',:id => 'search-member', :value=> 'Add Member', :class => 'add-member btn', :src=> search_rel_association_path(@project_module,session[:uuid])}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_arch_ent_records_path(@project_module,session[:uuid]), :class => 'btn'
