-title @project.name + " - Compare Archaelogical Entity Records"
-compare_arch_entities(@first_uuid, @second_uuid, @timestamps[0],@timestamps[1], @project)
.content
  %form#select-form
    %table.table.table-fluid.select-table
      %tr
        %td.span6
          %h3
            Entity
            %small
              = @firstInfo
          %input{:type=> 'button', :id => 'select-first', :value => 'Select All', :class => 'btn' } 
        %td.span6
          %h3
            Entity
            %small
              = @secondInfo
          %input{:type=> 'button', :id => 'select-second', :value => 'Select All', :class => 'btn'}
      %tr.merge-row
        %td.first.selected.span6.merge-left
          %input{:type => 'radio', :name => 'uuid', :value => @first_uuid, :checked => 'checked'}
          %input{:type => 'hidden', :name => 'deleted_id', :value => @second_uuid}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          = @identifiers[0]
        %td.second.span6.merge-right
          %input{:type => 'radio', :name => 'uuid', :value => @second_uuid}
          %input{:type => 'hidden', :name => 'deleted_id', :value => @first_uuid}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          = @identifiers[1]
      %tr
        %td.span6
          %h4 Attributes
        %td.span6
          %h4 Attributes
      - @attributeKeys.each do |key,val|
        - classes = "merge-row " + (val ? '' : 'box-error')
        %tr{class:classes}
          %td.first.selected.span6.merge-left
            = render :partial => 'compare_arch_ent_row', :locals => { group: @firstAttributeGroup, key: key, val: val, checked: true, attributeInfo: @first_attributeInfos, value: @firstAttributeValueGroup }
          %td.second.span6.merge-right
            = render :partial => 'compare_arch_ent_row', :locals => { group: @secondAttributeGroup, key: key, val: val, checked: false, attributeInfo: @second_attributeInfos, value: @secondAttributeValueGroup }
    .form-actions
      - if session[:type]
        = link_to "<i class='icon-arrow-left'></i> Back".html_safe, list_typed_arch_ent_records_path(@project)+"?type="+session[:type]+"&offset=0", :class => 'btn'
      - else
        = link_to "<i class='icon-arrow-left'></i> Back".html_safe, show_arch_ent_records_path(@project)+"?query="+session[:query]+"&offset=0", :class => 'btn'
      = link_to "Merge", merge_arch_ents_path(@project), :id => 'merge-record', :class => 'btn btn-inverse'

