-compare_relationships(@first_rel_id, @second_rel_id, @timestamps[0],@timestamps[1], @project)
%h1= @project.name + " - Compare Relationship Records"
- if session[:type]
  = link_to "Back", list_typed_rel_records_path(@project)+"?type="+session[:type]+"&offset=0", :class => 'btn'
- else
  = link_to "Back", show_rel_records_path(@project)+"?query="+session[:query]+"&offset=0", :class => 'btn'
%p
.content
  %form{:id => 'select-form'}
    %table{:class => 'select-table'}
      %tr
        %tr
          %td
            %input{:type=> 'button', :id => 'select-first', :value => 'Select All', :class => 'btn'}
          %td
            %input{:type=> 'button', :id => 'select-second', :value => 'Select All', :class => 'btn'}
        %td
          %div.record-info
            %h3 Relationship
            %span
              = @firstInfo
        %td
          %div.record-info
            %h3 Entity
            %span
              = @secondInfo
      %tr
        %td.first
          %input{:type => 'radio', :name => 'rel_id', :value => @first_rel_id, :checked => 'checked'}
          %input{:type => 'hidden', :name => 'deleted_id', :value => @second_rel_id}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          = @identifiers[0]
        %td.second
          %input{:type => 'radio', :name => 'rel_id', :value => @second_rel_id}
          %input{:type => 'hidden', :name => 'deleted_id', :value => @first_rel_id}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          = @identifiers[1]
      %tr
        %td
          %h3 Attributes
        %td
          %h3 Attributes
      - @attributeKeys.each do |key,val|
        %tr
          %td.first
            = render :partial => 'compare_reln_row', :locals => { group: @firstAttributeGroup, key: key, val: val, checked: true, attributeInfo: @first_attributeInfos, value: @firstAttributeValueGroup }
          %td.second
            = render :partial => 'compare_reln_row', :locals => { group: @secondAttributeGroup, key: key, val: val, checked: false, attributeInfo: @second_attributeInfos, value: @secondAttributeValueGroup }
    = link_to "Merge", merge_rel_path(@project), :id => 'merge-record', :class => 'btn'