%h1= @project.name + " - Archaeological Entity"
= link_to "Delete", delete_arch_ent_records_path(@project,session[:uuid]), :class => 'btn'
- if session[:type]
  = link_to "Back", list_typed_arch_ent_records_path(@project)+"?type="+session[:type]+"&offset="+session[:cur_offset], :class => 'btn'
- else
  = link_to "Back", show_arch_ent_records_path(@project)+"?query="+session[:query]+"&offset="+session[:cur_offset], :class => 'btn'
.container
  - for attribute in @attributes
    = simple_form_for @project, :url => update_arch_ent_records_path, :method => "post" do|f|
      .step-container
        .step-body{:style => "width: 1125px;"}
          .arch_ent_record_content
            = f.hidden_field :uuid, :value => attribute[0]
            = f.hidden_field :attribute_id, :value => attribute[1]
            %table
              %tr
                %td
                  %h5=attribute[3]
              %tr
                - if !@vocab_name[attribute[1]].empty?
                  %td
                    = f.label :vocab_id, "Vocab:"
                  %td
                    - if attribute[2].blank?
                      = f.input :vocab_id , collection: @vocab_name[attribute[1]], label: false
                    - else
                      = f.input :vocab_id , collection: @vocab_name[attribute[1]], label: false, selected: attribute[2]
                %td
                  = f.label :measure, "Measure:"
                %td
                  = f.text_field :measure, :value => attribute[5]
                %td
                  = f.label :freetext, "Freetext:"
                %td
                  = f.text_field :freetext, :value => attribute[6]
                %td
                  = f.label :certainty, "Certainty:"
                %td
                  = f.text_field :certainty, :value => attribute[7]
            .form-actions
              = f.submit "Update", :class => "btn btn-primary", :id => "update-arch-ent-btn"
              = link_to "cancel", edit_arch_ent_records_path(@project,session[:uuid]), :class => 'btn'