- get_files(@attributes,8,6)
%h1= @project.name + " - Archaeological Entity"
= link_to "Delete", delete_arch_ent_records_path(@project,session[:uuid]), :class => 'btn', :id => 'delete-record'
- if session[:show].eql?('show_rel_members')
  = link_to "Back", show_rel_members_path(@project,session[:relationshipid])+"?offset=0", :class => 'btn'
-else
  - if session[:action].eql?('list_typed_arch_ent_records')
    = link_to "Back", list_typed_arch_ent_records_path(@project)+"?type="+session[:type]+"&offset="+session[:cur_offset], :class => 'btn'
  - elsif session[:action].eql?('show_arch_ent_records')
    = link_to "Back", show_arch_ent_records_path(@project)+"?query="+session[:query]+"&offset="+session[:cur_offset], :class => 'btn'
= link_to "Show History", show_arch_ent_history_path(@project,session[:uuid]), :class => 'btn'
.container
  - attributeGroup = @attributes.group_by{|a|a[3]}
  - attributeGroup.each do |key,val|
    = simple_form_for :attr, :url => update_arch_ent_records_path, :method => "post" do|f|
      .step-container
        .step-body{:style => "width: 1125px;"}
          .arch_ent_record_content
            = f.hidden_field :uuid, :value => val[0][0]
            = f.hidden_field :attribute_id, :value => val[0][1]
            = f.hidden_field 'ignore_errors'
            %table
              %tr
                %td
                  %h5=key
              - show_error_button = nil
              - for attribute in val
                %tr
                  - if !@vocab_name[attribute[1]].empty?
                    %td
                      = f.label :vocab_id, "Vocab:"
                    %td
                      - if attribute[2].blank?
                        = f.input :vocab_id, collection: @vocab_name[attribute[1]], label: false, input_html: {name: 'attr[vocab_id][]'}
                      - else
                        = f.input :vocab_id, collection: @vocab_name[attribute[1]], label: false, selected: attribute[2], input_html: {name: 'attr[vocab_id][]'}
                  %td
                    = f.label :measure, "Measure:"
                  %td
                    = f.text_field :measure, :value => attribute[5], name: 'attr[measure][]'
                  %td
                    = f.label :freetext, "Freetext:"
                  %td
                    = f.text_field :freetext, :value => attribute[6], name: 'attr[freetext][]'
                  %td
                    = f.label :certainty, "Certainty:"
                  %td
                    = f.text_field :certainty, :value => attribute[7], name: 'attr[certainty][]'
                %tr
                  - if attribute[10] == 1
                    - show_error_button = true
                    %td.form-attribute-error
                      - attribute[11].each_line('\n') do |l|
                        - next if l.gsub('\n', '').blank?
                        %li=l.gsub('\n', '')
            .form-actions
              = f.submit "Update", :class => "btn btn-primary"
              - if show_error_button
                = f.submit "Update and Ignore errors", :class => "btn btn-primary ignore-errors-btn"
              = link_to "cancel", edit_arch_ent_records_path(@project,session[:uuid]), :class => 'btn'
- if @files.length > 0
  .attached-files
    %h2 Attached Files
    %ul
      - @files.each do |path,name|
        %li
          %form{:method => 'GET', :action => download_attached_file_path(@project), :id => 'download-attached-file'}
            %input{:type => 'hidden', :name => 'path', :value => path}
            %input{:type => 'hidden', :name => 'name', :value => name}
            %a{:href => '#'}
              = name