- title "Projects"
= breadcrumbs
.well
  = link_to "<i class='icon-pencil icon-white'></i> Create Project".html_safe, new_project_path, :class => "btn btn-inverse"
  = link_to "<i class='icon-upload'></i> Upload Project".html_safe, upload_project_path, :class => "btn"
.clear
- if @projects
  %table.table
    %tr
      %th No.
      %th Name
      %th Created
    - index = 0
    - for project in @projects
      - index = index + 1
      %tr
        %td
          = index.to_s + "."
        %td
          %a.project{href:project_path(project)}
            = project.name
        %td
          = project.created_at.localtime.strftime("%d/%m/%Y %I:%M%p")
