- title @project.name + " - Archaeological Entity Records"
= breadcrumbs
- if (!@uuid.empty?)
  - group_ids(@uuid)
.content
  - if (!@uuid.empty?)
    %input{:type => 'hidden', :value => add_entity_to_compare_path(@project), :id => 'add-entity'}
    %input{:type => 'hidden', :value => remove_entity_to_compare_path(@project), :id => 'remove-entity'}
    %form{:method => 'post', :id => 'compare'}
      %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
      - if session[:values]
        - session[:values].length.times do |i|
          %input{:type => 'hidden', :value => session[:values][i-1], :name => 'ids[]', :id => session[:values][i-1]}
          %input{:type => 'hidden', :value => session[:identifiers][i-1], :name => 'identifiers[]', :id => session[:values][i-1]}
          %input{:type => 'hidden', :value => session[:timestamps][i-1], :name => 'timestamps[]', :id => session[:values][i-1]}
      %p
        = render :partial => 'edit_arch_ent_record', :locals => {values: session[:values]}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, list_arch_ent_records_path(@project), :class => 'btn'
      = link_to "Compare" ,compare_arch_ents_path(@project), :id => 'compare-button', :class => 'btn btn-inverse'
      - if session[:show_deleted].nil?
        = link_to "Show Deleted", '#', :id => 'show-hide-deleted', :class => 'btn btn-inverse'
      - else
        = link_to "Hide Deleted", '#', :id => 'show-hide-deleted', :class => 'btn'
      %form{:action => list_typed_arch_ent_records_path, :method => "get", :id => 'show-hide-deleted-form'}
        %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
        %input{:type => 'hidden', :value => session[:type], :name => 'type'}
        - if session[:show_deleted].nil?
          %input{:type => 'hidden', :value => 'true', :name => 'show_deleted'}
  -else
    %p No Records Found
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, list_arch_ent_records_path(@project), :class => 'btn'
