- title 'Create Project'
= breadcrumbs
.container
  = simple_form_for @project, :url => projects_path, :method => 'post', :multipart => true do |f|
    .row-fluid
      .settings.span6
        .step
          .step-body.span12
            %h4 Static Data
            = f.label :name, 'Project Name:', :class => "required"
            = f.text_field :name, :class => "input-block-level"
            = f.error :name
            %p
            = f.label :season, 'Project SRID:'
            = f.select :srid, @spatial_list, :selected => (session[:srid].blank? ? Project::SRID : session[:srid]), :class => "input-block-level"
            %p
            = f.label :season, 'Project Year:'
            = f.text_field :season, :value => session[:season], :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :description, 'Project Description:'
            = f.text_area :description, :size => '40x5', :class => 'project-textarea span12', :value => session[:description], :placeholder => "instruction here..."
            %p
            = f.label :permit_no, 'Permit No:'
            = f.text_field :permit_no, :value => session[:permit_no], :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :permit_holder, 'Permit Holder:'
            = f.text_area :permit_holder, :size => '40x5', :class => 'project-textarea span12', :value => session[:permit_holder], :placeholder => "e.g. Doe, John; Smith, Jane"
            %p
            = f.label :permit_issued_by, 'Permit Issued by:'
            = f.text_field :permit_issued_by, :value => session[:permit_issued_by], :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :permit_type, 'Permit Type:'
            = f.text_field :permit_type, :value => session[:permit_type], :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :contact_address, 'Contact and Address:'
            = f.text_area :contact_address, :size => '40x5', :class => 'project-textarea span12', :value => session[:contact_address], :placeholder => "instruction here..."
            %p
            = f.label :participant, 'Participants:'
            = f.text_area :participant, :size => '40x5', :class => 'project-textarea span12', :value => session[:participant], :placeholder => "instruction here..."
            %p
            = f.label :copyright_holder, 'Copyright Holder:'
            = f.text_field :copyright_holder, :value => session[:copyright_holder], :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :client_sponsor, 'Client/Sponsor:'
            = f.text_field :client_sponsor, :value => session[:client_sponsor], :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.label :land_owner, 'Land Owner:'
            = f.text_field :land_owner, :value => session[:land_owner], :class => "input-block-level", :placeholder => "instruction here..."
            %p
            = f.input :has_sensitive_data, :checked => session[:has_sensitive_data], :as => :radio_buttons, :label => 'Will this Project contain sensitive data?'
      .upload.span6
        .well
          %h4 Upload Data Definition Schema
          - if session[:data_schema]
            %span.uploaded-inline Data Schema Uploaded!
          - else
            = f.label :data_schema, 'Data Schema:', :class => "required"
            = f.file_field :data_schema
            = f.error :data_schema
        .well
          %h4 Upload User Interface Schema
          - if session[:ui_schema]
            %span.uploaded-inline UI Schema Uploaded!
          - else
            = f.label :ui_schema, 'UI Schema:', :class => "required"
            = f.file_field :ui_schema
            = f.error :ui_schema
        .well
          %h4 Upload Validation Schema
          - if session[:validation_schema]
            %span.uploaded-inline Validation Schema Uploaded!
          - else
            = f.label :validation_schema, 'Validation Schema:'
            = f.file_field :validation_schema
            = f.error :validation_schema
        .well
          %h4 Upload User Interface Logic
          - if session[:ui_logic]
            %span.uploaded-inline UI Logic Uploaded!
          - else
            = f.label :ui_logic, 'UI Logic:', :class => "required"
            = f.file_field :ui_logic
            = f.error :ui_logic
        .well
          %h4 Upload Arch16n file
          - if session[:arch16n]
            %span.uploaded-inline Arch16n Uploaded!
          - else
            = f.label :arch16n, 'Arch16n:'
            = f.file_field :arch16n
            = f.error :arch16n
    .form-actions
      = f.submit 'Submit', :class => 'btn btn-inverse', :id => 'submit-project-btn'
      = link_to 'Clear', new_project_path, :class => 'btn'

#loading.hidden.indicator
  = image_tag 'loading.gif'
  %p
    %span Creating Project
