.container
  = simple_form_for @project, :url => projects_path, :method => "post", :multipart => true do |f|
    .step-container
      .number-circle 1
      .step-body
        %h4 Choose project name
        = f.label :name, "Name:"
        = f.text_field :name
        = f.error :name
    .step-container
      .number-circle 2
      .step-body
        %h4 Upload Data Definition Schema
        - if session[:data_schema]
          %span.uploaded-inline Data Schema Uploaded!
        - else
          = f.label :data_schema, "Data Schema:"
          = f.file_field :data_schema
          = f.error :data_schema
    .step-container
      .number-circle 3
      .step-body
        %h4 Upload User Interface Schema
        - if session[:ui_schema]
          %span.uploaded-inline UI Schema Uploaded!
        - else
          = f.label :ui_schema, "UI Schema:"
          = f.file_field :ui_schema
          = f.error :ui_schema
    .step-container
      .number-circle 4
      .step-body
        %h4 Upload User Interface Logic
        - if session[:ui_logic]
          %span.uploaded-inline UI Logic Uploaded!
        - else
          = f.label :ui_logic, "UI Logic:"
          = f.file_field :ui_logic
          = f.error :ui_logic
    .form-actions
      = f.submit "Submit", :class => "btn btn-primary", :id => "submit-project-btn"
      = link_to "Clear", new_project_path, :class => "btn"

#loading.hidden.indicator
  = image_tag "loading.gif"
  %p
    %span Creating Project