%h1= @project.name
= link_to "Edit Project Setting", edit_project_setting_path(@project), :class => 'btn'
= link_to "List Archaeological Entity Records", list_arch_ent_records_path(@project), :class => 'btn'
= link_to "List Relationship Records", list_rel_records_path(@project), :class => 'btn'
= link_to "Back", projects_path, :class => 'btn'