%h1
  %span= @project.name

%input{:type => 'hidden', :value => check_archive_status_path(@project), :id=> 'check-archive'}
%input{:type => 'hidden', :value => download_project_path(@project), :id=> 'download-project'}

.well
  %h3 Project Actions
  .btn-group
    = link_to "Edit Project Setting", edit_project_setting_path(@project), :class => 'btn'
    = link_to "Edit Vocabulary", list_attributes_with_vocab_path(@project), :class => 'btn'
  .btn-group
    = link_to "Upload Files", project_file_list_path(@project), :class => 'btn', :id => 'project-file-list-btn'
    = link_to "Download Project", archive_project_path(@project), :class => 'btn', :id => 'archive-project-btn'
.well
  %h3 Project Details
  .btn-group
    = link_to "Search Archaeological Entity Records", search_arch_ent_records_path(@project), :class => 'btn'
    = link_to "Search Relationship Records", search_rel_records_path(@project), :class => 'btn'
  .btn-group
    = link_to "List Archaeological Entity Records", list_arch_ent_records_path(@project), :class => 'btn'
    = link_to "List Relationship Records", list_rel_records_path(@project), :class => 'btn'
.form-actions
  = link_to "<i class='icon-arrow-left'></i> Back".html_safe, projects_path, :class => 'btn'

#loading.hidden.indicator
  = image_tag "loading.gif"
  %p
    %span Archiving Project
