- title @project.name + " - Relationship Archaeological Entity Members"
= breadcrumbs
.content
  - if !@uuid.nil? and !@uuid.empty?
    .records
      - for uuids in @uuid
        %ul.inner
          %li
            #remove-member.pull-left= link_to "<i class='ui-icon ui-icon-circle-minus'></i>".html_safe, remove_arch_ent_member_path(@project)+'?relationshipid='+session[:relationshipid].to_s+'&uuid='+uuids[0].to_s
            %a{:href => edit_arch_ent_records_path(@project,uuids[0])}
              =uuids[1].to_s
      .paging.search
        = render :partial => 'pagination'
    %input{:type => 'button',:id => 'search-member', :value=> 'Add Member', :class => 'add-member btn', :src=> search_arch_ent_member_path(@project,session[:relationshipid])+"?relntypeid="+session[:relntypeid].to_s}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_rel_records_path(@project,session[:relationshipid]), :class => 'btn'
  -else
    %p No Members Found
    %input{:type => 'button',:id => 'search-member', :value=> 'Add Member', :class => 'add-member btn', :src=> search_arch_ent_member_path(@project,session[:relationshipid])+"?relntypeid="+session[:relntypeid].to_s}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_rel_records_path(@project,session[:relationshipid]), :class => 'btn'
