%h1
  %span Upload New Project
= simple_form_for @project, :url => upload_new_project_path, :method => "post", :multipart => true do |f|
  .well
    %h4 Project Archive
    = f.label :project_file, "Project File:"
    = f.file_field :project_file
  .form-actions
    = f.submit "Upload", :class => "btn btn-primary", :id => "upload-project-btn"
    = link_to "Clear", upload_project_path, :class => "btn"
.form-actions
  = link_to "Back", projects_path, :class => 'btn'

#loading.hidden.indicator
  = image_tag "loading.gif"
  %p
    %span Uploading Project
