- title @project_module.name + " - Entity"
= breadcrumbs
- get_files(@attributes, 12, 13, 5)
.form-actions
  - if params[:prev_uuid]
    = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_arch_ent_records_path(@project_module, params[:prev_uuid], search_params), :class => 'btn'
  - else
    = link_to "<i class='icon-arrow-left'></i> Back".html_safe, search_arch_ent_records_path(@project_module, search_params), :class => 'btn'
  = link_to "", get_arch_ent_record_data_path(@project_module, params[:uuid]), :class => "hidden", :id => 'setup-attributes'
  = link_to "", batch_update_arch_ent_records_path(@project_module, params[:uuid]), :class => "hidden", :id => 'update-all', :method => "post"
  - if @deleted[1]
    = link_to "<i class='icon-edit icon-white'></i> Restore".html_safe, restore_arch_ent_records_path(@project_module, params[:uuid], search_params), :class => 'btn btn-warning', :id => 'restore-record'
  - else
    = link_to "<i class='icon-remove icon-white'></i> Delete".html_safe, delete_arch_ent_records_path(@project_module, params[:uuid], search_params), :class => 'btn btn-warning', :id => 'delete-record', confirm: "Are you sure you want to delete this record?"
  = link_to "Show History", show_arch_ent_history_path(@project_module, params[:uuid], search_params), :class => 'btn'
  - if !@related_arch_ents.empty?
    = link_to "Show Related Entities", '#related-arch-ents', :class => 'btn', :id => 'show-related'
/ %div.alert.alert-info
/   %p
/     This page will automatically update any changes to this entity and will update again upon navigating away from this page
.container
  .row-fluid.labels
    .span2
      %label 
    .span2
      %label Constrained Data:
      .muted
        (Vocabulary)
    .span2
      %label Unconstrained Data:
      .muted
        (Measure)
    .span1
      %label Annotation:
      .muted
        (Freetext)
    .span1
      %label Certainty:
    .span3
  - attributeGroup = @attributes.group_by{|a|a[3]}
  - attributeGroup.each do |key,val|
    .update-arch-ent-form
      = simple_form_for :attr, :url => batch_update_arch_ent_records_path, :method => "post" do|f|
        .arch_ent_record_content
          = f.hidden_field :uuid, :value => val[0][0]
          = f.hidden_field :attribute_id, :value => val[0][1], name: 'attr['+key+'][attribute_id]'
          - val.each_with_index do |attribute, index|
            .row-fluid.attribute-value
              %label.span2
                %h4.attribute-name=key
                - if attribute[10] == 1
                  .form-attribute-error
                    - attribute[11].each_line(';') do |l|
                      - next if l.gsub(';', '').blank?
                      %span=l.gsub(';', '')
              - if !@vocab_name[attribute[1]].empty?
                .span2
                  - vocabs = @vocab_name[attribute[1]]
                  - vocabs = vocab_name_to_breadcrumb(vocabs)
                  = f.input :vocab_id, collection: vocabs, include_blank: true, label: false, input_html: {name: 'attr['+key+'][vocab_id][]'}
              - else
                .span2
              .span2
                = f.text_field :measure, :value => "", name: 'attr['+key+'][measure][]', :class => attribute[12] == 1 ? "file-measure" : nil
              .span1
                = f.text_field :freetext, :value => "", name: 'attr['+key+'][freetext][]'
              .span1
                = f.text_field :certainty, :value => "", name: 'attr['+key+'][certainty][]'
              .span3
                = link_to '#', :class => 'btn add-attribute' do
                  %i.icon-plus
                = link_to '#', :class => 'btn remove-attribute' do
                  %i.icon-minus
                - if attribute[12] == 1
                  = link_to '#', :class => 'btn attribute-upload-file' do
                    %span='Upload'
                - if index == 0
                  .ignore-errors-chk
                    = f.check_box 'ignore_errors', name: 'attr['+key+'][ignore_errors]'
                    Ignore Errors


- if !@related_arch_ents.empty?
  #related-arch-ents
    %h2 Related Entities
    .inner-box
      %ul
        - @related_arch_ents.each do |aent|
          %li
            = link_to aent[1], edit_arch_ent_records_path(@project_module, aent[0], search_params.merge(prev_uuid: params[:uuid]))
  
- if !@files.empty?
  .attached-files
    %h2 Attached Files
    %ul
      - @files.each do |path, name|
        %li
          - file = File.join(@project_module.get_path(:project_module_dir), path)
          - if File.exists? file
            = link_to thumbnail_path(url: file), :title=> name, class: "fancybox" do
              - thumbnail = ThumbnailCreator.generate_thumbnail_filename(file)
              - if File.exists? thumbnail
                %img{src: thumbnail_path(url: thumbnail), alt: name}
                %p
                  = name
              - else
                = name
          - else
            %p
              = name
%br
#setting_up.hidden.indicator
  = image_tag "loading.gif"
  %p
    %span Loading
#uploading_files.hidden.indicator
  = image_tag "loading.gif"
  %p
    %span Uploading file/s

#attribute-file-upload.hidden
  = simple_form_for :attr_file, :url => upload_arch_ent_attribute_file_path, :method => "post", :remote => true do |f|
    = f.label 'attribute_file', "File/s:"
    = f.file_field 'attribute_file', multiple: true
    = f.hidden_field 'attribute_id'