- title @project_module.name + " - Search Entity Records"
= breadcrumbs
.content
  %h2 Search Entity
  %p An empty search will list all entities
  %form.pull-right.search_form{:action => search_arch_ent_records_path, :method => "get"}
    .input-append
      %select{:name => 'type'}
        - if params[:type] == 'all'
          %option{ :value => "all", :selected => "selected"}="Show all records"
        - else
          %option{ :value => "all" }="Show all records"
        - for type in @types
          - if params[:type] == type[1].to_s
            %option{:value=>type[1], :selected => "selected"}="Filter type by #{type[0]}"
          - else
            %option{:value=>type[1]}="Filter type by #{type[0]}"
      %select{:name => 'user'}
        - if params[:user] == 'all'
          %option{ :value => "all", :selected => "selected"}="Created/Last modified by any user"
        - else
          %option{ :value => "all" }="Created/Last modified by any user"
        - for user in @users
          - if params[:user] == user[0].to_s
            %option{:value=>user[0], :selected => "selected"}="Created/Last modified by #{user[1]} #{user[2]}"
          - else
            %option{:value=>user[0]}="Created/Last modified by #{user[1]} #{user[2]}"
      %input.span4{:type => 'text', :name => 'query', :placeholder => "Enter a constrained vocabulary term, annotation, measurement, date, or name here...", :value => params[:query]}
      %input{:type => 'hidden', :name => 'show_deleted', :value => params[:show_deleted]}
      %input{:type => 'hidden', :name => 'offset', :value => params[:offset]}
      %input{:type => 'hidden', :name => 'per_page', :value => @limit}
      %input{:type => 'submit', :value => "Search", :class => 'btn'}

  %form.pull-left{:method => 'post', :id => 'compare'}
    %input{:type => 'hidden', :value => form_authenticity_token, :name => 'authenticity_token'}
    - pagination_options = [['50 per page', '50'], ['100 per page', '100'], ['250 per page', '250'], ['Show all', '-1']]
    = select_tag :per_page, options_for_select(pagination_options, @limit.to_s), :onchange => 'updatePagination(this.value)', :class => "search-pagination"

  %table.table.table-striped.search-table
    %thead
      %tr
        %th
        %th Identifier
        %th Created at
        %th Created by
        %th Last modified at
        %th Last modified by
        - if @show_review_column
          %th Review
        - if @show_conflict_column
          %th Conflict
        - if @show_actions_column
          %th Actions
    = render :partial => 'edit_arch_ent_record'
  = render :partial => 'shared/pagination'

  .form-actions
    = link_to "<i class='icon-arrow-left'></i> Back".html_safe, project_module_path(@project_module), :class => 'btn'
    = link_to "Compare", compare_arch_ents_path(@project_module, search_params), :id => 'compare-button', :class => 'btn btn-inverse'
    - if params[:show_deleted].blank?
      = link_to "Delete Selected", batch_delete_arch_ents_path(@project_module, search_params), :id => 'delete-selected-button', :class => 'btn btn-danger'
      = link_to "Show Deleted", '#', :id => 'show-hide-deleted', :class => 'btn btn-search-refresh'
    - else
      = link_to "Restore Selected", batch_restore_arch_ents_path(@project_module, search_params), :id => 'restore-selected-button', :class => 'btn btn-warning'
      = link_to "Hide Deleted", '#', :id => 'show-hide-deleted', :class => 'btn btn-search-refresh'
    %form{:action => search_arch_ent_records_path, :method => "get", :id => 'show-hide-deleted-form'}
      %input{:type => 'hidden', :value => params[:type], :name => 'type'}
      %input{:type => 'hidden', :value => params[:user], :name => 'user'}
      %input{:type => 'hidden', :value => params[:query], :name => 'query'}
      %input{:type => 'hidden', :value => params[:offset], :name => 'offset', :value => params[:offset]}
      %input{:type => 'hidden', :value => params[:per_page], :name => 'per_page', :value => @limit}
      - if params[:show_deleted].blank?
        %input{:type => 'hidden', :value => 'true', :name => 'show_deleted'}
    %form{:method => 'post', :id => 'delete-ent-form'}
      %input{:type => 'hidden', :value => form_authenticity_token, :name => 'authenticity_token'}
      %input{:type => 'hidden', :name => 'selected', :id => 'selected-ents-delete'}
    %form{:method => 'post', :id => 'restore-ent-form'}
      %input{:type => 'hidden', :value => form_authenticity_token, :name => 'authenticity_token'}
      %input{:type => 'hidden', :name => 'selected', :id => 'selected-ents-restore'}

#setting_up.hidden.indicator
  = image_tag "loading.gif"
  %p
    %span Loading


:javascript
  function updatePagination(per_page) {
    if ("#{@base_url}".indexOf("?") < 0) {
      window.location = "#{@base_url}?offset=0&per_page=" + per_page
    } else {
       window.location = "#{@base_url}&offset=0&per_page=" + per_page
    }
  }
