- title @project_module.name + " - Entity History"
= breadcrumbs
- show_arch_ent_attributes_history(@project_module,@timestamps)
- has_conflict = nil
.content
  %form{:method => 'post', :action =>  revert_arch_ent_to_timestamp_path(@project_module,@timestamps[0][0]), :class => 'history-form'}
    %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
    %input{:type => 'hidden', :value => 'false', :name => 'resolve'}
    .records
      %table.table.inner
        %tr
          %th
          - @history_keys.each do |names|
            %th.attribute-name
              = names
        - @timestamps.each_with_index do |timestamp, row_index|
          %tr
            %td= link_to 'Select Row', '', :class => 'btn history-select-btn'
            - @history_keys.each do |key|
              - cell = @history_rows[timestamp[1]][key]
              - if cell
                - box_error = has_history_change(row_index, key) ? 'box-error' : nil
                - if cell[:isforked]
                  - box_error = 'box-warning'
                  - has_conflict = true
                %td{:class => "history #{box_error}"}
                  %input{:type => 'radio', :name => 'data[' + key + '][selected]', :checked => row_index == 0 }
                  - if cell[:attributeid]
                    %input{type:'hidden', name: 'data[' + key + '][uuid]', value:cell[:uuid] }
                    %input{type:'hidden', name: 'data[' + key + '][attributeid]', value:cell[:attributeid] }
                    %input{type:'hidden', name: 'data[' + key + '][timestamp]', value:cell[:timestamp] }
                    %input{type:'hidden', name: 'data[' + key + '][userid]', value:cell[:userid] }
                    - if cell[:value]
                      %span= cell[:value]
                    - else
                      %span.muted= 'NULL'
                    %p.muted="Last Edit by: #{cell[:user]} at #{cell[:timestamp]}"
                    - if cell[:deleted]
                      %p.text-error= 'Deleted'
                  - else
                    %input{type:'hidden', name: 'data[' + key + '][uuid]', value:cell[:uuid] }
                    %input{type:'hidden', name: 'data[' + key + '][timestamp]', value:cell[:timestamp] }
                    %input{type:'hidden', name: 'data[' + key + '][userid]', value:cell[:userid] }
                    - if cell[:geospatial]
                      %span= cell[:geospatial]
                    - else
                      %span.muted= 'NULL'
                    %p.muted="Last Edit by: #{cell[:user]} at #{cell[:timestamp]}"
                    - if cell[:deleted]
                      %p.text-error= 'Deleted'
              - else
                %td{:class => "history #{box_error}"}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_arch_ent_records_path(@project_module,@timestamps[0][0]), :class => 'btn'
      %input{:type => 'submit', :value => 'Revert', :class => 'btn btn-inverse'}
      - if has_conflict
        %input{:type => 'submit', :value => 'Revert and Resolve Conflicts', :class => 'btn btn-inverse history-resolve-btn'}