- if @grouped_vocabs[key]
  %table.vocab-container{style: "margin-left: #{vocab_level > 0 ? 25 : 0}px"}
    - @grouped_vocabs[key].each_with_index do |vocab, index|
      - if index == 0
        %tr
          %td
            .span2
              %label
              ='Name'
            .span2
              %label
                ='Description'
            .span2
              %label
                ='Picture URL'
            .span3
      %tr
        %td
          - vocab_key = vocab[:vocab_id].blank? ? vocab[:temp_id] : vocab[:vocab_id]
          %input{:type => 'hidden', :name => 'temp_id[]', :value => vocab[:temp_id]}
          %input{:type => 'hidden', :name => 'parent_temp_id[]', :value => vocab[:parent_temp_id]}
          %input{:type => 'hidden', :name => 'vocab_id[]', :value => vocab[:vocab_id]}
          %input{:type => 'hidden', :name => 'parent_vocab_id[]', :value => vocab[:parent_vocab_id]}
          .span2
            %input.span2{:type => 'text', :name => 'vocab_name[]', :value => vocab[:vocab_name]}
          .span2
            %input.span2{:type => 'text', :name => 'vocab_description[]', :value => vocab[:vocab_description]}
          .span2
            %input.span2{:type => 'text', :name => 'picture_url[]', :value => vocab[:picture_url]}
          .span3
            = link_to '#', :class => 'btn vocab-button move-up' do
              %i.icon-arrow-up
            = link_to '#', :class => 'btn vocab-button move-down' do
              %i.icon-arrow-down
            - if @grouped_vocabs[vocab_key].nil?
              = link_to 'Add Child','#', :class => 'btn vocab-button add-child'
          - if @grouped_vocabs[vocab_key]
            = render :partial => 'create_vocabularies_table', :locals => {key: vocab_key, vocab_level: 1}
    %tr.insert-row
      %td
        .span2
          = link_to 'Insert', '#', :class => 'btn vocab-button insert-new-vocab'