!!!
%html
  %head
    %title 
      FAIMS
      = " - #{yield :title}"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{:href => "http://use.typekit.net/c/d57ea3/source-sans-pro:i2:i3:i4:i6:i7:i9:n2:n3:n4:n6:n7:n9.Xw1:M:2,Xw4:M:2,Xw2:M:2,Xw7:M:2,Xvz:M:2,Xvx:M:2,Xw0:M:2,Xw3:M:2,Xw5:M:2,Xw6:M:2,Xvy:M:2,Xvw:M:2/d?3bb2a6e53c9684ffdc9a98f4195b2a62d5819100d8b71b237f5b90a0c741c2aeb9289a010968e802e3d43b29bb24b87479695023ae85aa0dce4363108da15379f2c71742a65029963fe6e98e32ca138ca98ee529671af298d43e62302156b5d345bb25d7552fe8e15433b211a264bdedfb59bb9a2161ef9f04d6e7ee6826e142771d351301b63f6c8d965bc7c91ae93c729f90da1cb8d79f6d1717a3b70aef6994a615810368d6ffede5c80d0373e21469fcd0b3d491b8a2b6087a1f8fdd4138a72a87036c3630a36bbe8e2f07deb08743db7e91f95823a69162781a7c13ca", :rel => "stylesheet"}/

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => root_path } FAIMS
          %ul.nav
            %li= link_to "Users", users_path
            %li= link_to "Projects", projects_path
          = render 'layouts/user_menu'

    .container.main_content
      - flash.each do |name, msg|
        - next if name == :timedout
        - if name == :warning
          - alert = "alert"
        - elsif name == :notice
          - alert = "alert alert-success"
        - else
          - alert = "alert alert-error"
        %div{:class => "alert #{alert}"}
          %a.close{"data-dismiss" => "alert"} ×
          = msg
      .container
        %h1
          %span.page-title= yield :title
        = yield
