!!!
%html
  %head
    %title 
      FAIMS
      = " - #{yield :title}"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => root_path } FAIMS
          - if user_signed_in?
            %ul.nav
              %li= link_to "Users", users_path
              %li= link_to "Modules", project_modules_path
              - if current_user.admin?
                %li= link_to "Exporters", project_exporters_path
          = render 'layouts/user_menu'

    .container.main_content
      - flash.each do |name, msg|
        - next if name == :timedout
        - if name == :warning
          - alert = "alert"
        - elsif name == :notice
          - alert = "alert alert-success"
        - else
          - alert = "alert alert-error"
        %div{:class => "alert #{alert}"}
          %a.close{"data-dismiss" => "alert"} ×
          = msg
      .container
        %h1
          %span.page-title= yield :title
        = yield
    %br
    %footer.footer
      %p
        %a.logo{:href => "http://www.intersect.org.au/attribution-policy", :target => "_about"}>
        Developed by Intersect Australia Ltd.
